@page "/"

<PageTitle>Sobre</PageTitle>

<h1>CarnaCode 2024 - balta.io</h1>

<p>Projeto desenvolvido para o desafio CarnaCode 2024 da plataforma de ensino <a href="https://balta.io/" target="_blank">balta.io</a></p>
<p>Saiba mais no meu repositório do GitHub <a href="https://github.com/betogzo/carnacode-balta-2024-desafio-03" target="_blank">clicando aqui.</a></p>

<img style="max-width: 75%" src="carnacode.png"/>